*{
    margin: 0px;
    padding: 0px;

}
.header{
    background-color: rgb(10, 233, 236);
    text-align: center;
    height: 50px;
    padding: 10px;
    position: relative;
}
#logo {
    color: white;
    padding: 10px;
    width: 25%;
    font-size: 30px;
    font-weight: bold;
}
#login {
    position: absolute;
    top: 20px;
    border: solid 3px;
    right: 20px;
    padding: 20px;
    border-color: white;
}
.menu {
    background-color: red;
    text-align: center;
    padding: 20px;
    
}
.menu >a{
    margin-top: 10px;
    padding: 15px;
    font-size: 15px;
    color: white;
    text-align: center;
    display: inline;
    text-decoration: none;
}
.main {
    width: 100%;
    float: left;
}
.leftsidebar {
    background-color: antiquewhite;
    float: left;
    width: 25%;
    text-align: left;
    
}
.sidebar-item{
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 50px;
}
h2, h3{
    padding-top: 10px;
    padding-bottom: 10px;
}
.sidebar-item >a {
    display: block;
    background-color: white;
    border: 1px solid gray;
    padding: 10px;
    margin-bottom: 5px;
}
.card {
    display: block;
    border: 3px solid #ccc;
    padding: 15px;
    margin: 10px;
}
.card >a{
    color: white;
    text-align: right;
    border: 1px solid red;
    background-color: red;
    padding: 3px;
    float: right;
}
.card > button {
    padding: 5px;
    margin-top: 20px;
    border: 3px solid transparent;
    background-color: rgb(25, 189, 201);
    color: white;
}
button:hover {
    background-color: rgb(10, 150, 160);
}
.content {
    background-color: blueviolet;
    float: right;
    width: 75%;
    
}
p {
    text-indent: 30px;
    text-align: justify;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}
.footer {
    background-color: beige;
    text-align: center;
}